{% extends "base.html" %}
{% block title %}Dashboard {% endblock %}

{% block content %}

    <h1 align="center">Список ваших трат</h1>
<table class="period">
    <tr>
<form action="." method="post">
    <td>{{period_form.month}}</td>
    <td>{{period_form.year}}</td>
    <td>{% csrf_token %}</td>
    <td><input type="submit" value="Вывести список трат"></td>
</form>
    </tr>
</table>
<br>
<table class="container-fluid" style="text-align: center">
    <tr>
        <td bgcolor="#DCDCDC">Дата</td><td bgcolor="#DCDCDC">Категория</td>
        <td bgcolor="#DCDCDC">Наименование</td><td bgcolor="#DCDCDC">Сумма</td>
        <td bgcolor="#DCDCDC" colspan="2">Действия</td>
    </tr>
    <tr><form action="." method="post">

        <td bgcolor="#DCDCDC">{{spends_form.date}}</td>
        <td bgcolor="#DCDCDC">{{spends_form.category}}</td>
        <td bgcolor="#DCDCDC">{{spends_form.name}}</td>
        <td bgcolor="#DCDCDC">{{spends_form.sum}}</td>
        <td bgcolor="#DCDCDC" colspan="2">  {% csrf_token %}<input class="design" type="submit" value="Добавить"></td>
    </form>
    </tr>
{% for spend in spends %}
    <tr>
        {% cycle "FAEBD7" "DCDCDC" as color silent %}
        <td bgcolor={{color}}>{{spend.date}}</td>
        <td bgcolor={{color}}>{{spend.category}}</td>
        <td bgcolor={{color}}>{{spend.name}}</td>
        <td bgcolor={{color}}>{{spend.sum}}</td>
        <td bgcolor="DCDCDC">
            <a class="design"
               href="/edit_spending/?spending_id={{spend.id}}&
               category={{spend.category}}&date={{spend.date}}&name={{spend.name}}&sum={{spend.sum}}">
                Редактировать
            </a>
        </td>
        <td bgcolor="DCDCDC">
            <a class="design" href="/remove/{{spend.id}}">
                Удалить
            </a>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
