{% extends "base.html" %}

{% block title %}Dashboard {% endblock %}

{% block content %}
<style>
    table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px;
    cellpadding: 4px;
    cellspacing: 4px;
    frame: solid;
    }
    .period{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }

</style>
    <h1 align="center">Список ваших трат</h1>
<table>
    <tr>
<form class="period" action="." method="post">
    <td>{{period_form.month}}</td>
    <td>{{period_form.year}}</td>
    <td>{% csrf_token %}</td>
    <td><input type="submit" value="Вывести список трат"></td>
</form>
    </tr>
</table>
<table>
    <tr>
        <td bgcolor="#FFA07A">Дата</td><td bgcolor="#FFC0CB">Категория</td>
        <td bgcolor="#FFA07A">Наименование</td><td bgcolor="#FFC0CB">Сумма</td>
    </tr>
    <tr><form action="." method="post">

        <td bgcolor="#FFA07A">{{spends_form.date}}</td>
        <td bgcolor="#FFC0CB">{{spends_form.category}}</td>
        <td bgcolor="#FFA07A">{{spends_form.name}}</td>
        <td bgcolor="#FFC0CB">{{spends_form.sum}}</td>
        <td>  {% csrf_token %}<input type="submit" value="Применить"></td>
    </form>
    </tr>
{% for spend in spends %}
    <tr>
        <td bgcolor="#FFA07A">{{spend.date}}</td>
        <td bgcolor="#FFC0CB">{{spend.category}}</td>
        <td bgcolor="#FFA07A">{{spend.name}}</td>
        <td bgcolor="#FFC0CB">{{spend.sum}}</td>
        <td>
            <a href="/edit_spending/?spending_id={{spend.id}}&category={{spend.category}}&date={{spend.date}}&name={{spend.name}}&sum={{spend.sum}}">
            Редактировать
        </a></td>
        <td><a href="/remove/{{spend.id}}">Удалить </a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}
