{% extends "base.html" %}
{% block title %}Мои настройки{% endblock %}
{% block content %}
<h1 align="center">Редактирование данных</h1>
<br>
<br>
<form action="." method="post" enctype="multipart/form-data">
    <table class="center_table">
        {{ user_form.as_table }}
        {{ profile_form.as_table }}
        {% csrf_token %}
        <td>
        <p><input type="submit" value="Сохранить изменения"></p>
        </td>
    </table>
</form>
<p>Вы также можете изменить пароль, перейдя по этой <a href="{% url 'password_change' %}">ссылке</a>
</p>
{% endblock %}