{% extends "base.html" %}
{% load static %}
{% block title %} Управление финансами {% endblock %}

{% block content %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <a href="/spendings/">
              <img height="97%" width=97%" src="{% static 'images/lose_money.png' %}">
              </a>
            <div class="card-body">
                <a href="/spendings/">
                <h3 class="card-text" style="text-align: center;">Управление расходами</h3></p>
                </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <a href="{% url 'fcontrol:incomes' %}">
              <img height="100%" width="100%" src="{% static 'images/gain_money.png' %}">
              </a>
          <div class="card-body">
              <a href="{% url 'fcontrol:incomes' %}">
                <h3 class="card-text" style="text-align: center;">Мои доходы</h3></p>
              </a>
            </div>
          </div>
        </div>
          <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <a href="#">
              <img height="84%" width="84%" src="{% static 'images/credits.png' %}">
              </a>
            <div class="card-body">
                <a href="#">
                <h3 class="card-text" style="text-align: center; font-size: 24px">Ограничения и накопления</h3></p>
                </a>
            </div>
          </div>
        </div>
        </div>
      </div>
{% endblock %}